/* Globals */
a,a:focus,a:hover{color:#191b22;}
body{color:#191b22}
body {
    padding-top: 82px;
    background-color:#f5f5f5;
    line-height: 1.15;
}
.hide{display:none;}
.landing-heading{font-family:'Lato',Sans-Serif;font-weight:400;}
.clickable{cursor: pointer;}
.margin-right-10 { margin-right:10px; }


/* Avatar */
.header-section{margin:25px 0 0;}
.avatar{width:100px;height:100px; border-radius: 50%;}
.mini-avatar{width:36px;height:36px;margin-right: 10px;}
.title-section{display:flex;text-align:left;}
.title-section h1{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #383b43;
}
.title-section h4{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #4d4d4d;
}

.username{margin-left:20px;}

/* Scaffolding */
.site-wrapper{display:table;width:100%;}
.site-wrapper-inner{display:flex;flex-direction:column;justify-content:center;margin-right:auto;margin-left:auto;width:100%;}
.panel-authed{padding:0 0 0 0;}

/* Home button */
.btn-home-hello{position:absolute;font-family:'Source Code Pro',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}

/* Input */
input, textarea{color:#000;padding:10px;}
.input-status, .input-page-name, .input-page-description, .input-page-price, .input-page-duration{width:100%;border-radius:6px;margin-top:5px;}
.input-status{height:70px;}
.new-status{text-align:right;}

/* Statuses */
.status{margin:15px 0px;padding:20px;background-color:#2e2e2e;border-radius:6px}

/* Files */

.post-container{width: 90%; text-align: left; border: 1px solid rgba(0,0,0,.125); margin-bottom: 15px}

.read-subscribe-btn{ margin: 60px 0 0 0;text-align: center; background-color: dodgerblue;color: white;height: 40px;padding: 9px;width: 200px; cursor: pointer;}
.file-card.locked{cursor:not-allowed;opacity: 0.4;}

.post-description{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #4d4d4d;
}
.post-title{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #4d4d4d;
  margin-top: 18px;
  margin-bottom: 15px;
}

.fr-toolbar {border-top: unset !important;}

.panel-landing { text-align: center; }

.new-page {margin-bottom: 10px;}

.card, .card:hover {text-decoration: none;border-radius: 0;
    border: none;}

.card-footer{
    background-color: unset;
    border-top: none;
}

.payment-option-modal{text-align: center;}

.payment-buttons-row{margin-top: 10px;}

.nav-logo img{width:66px;}

.nav-item.separator{
    width: 1px;
    background: white;
    margin: 5px 15px;
}

.nav-item .username{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
}

.post-date{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #4c4c4c;
}

.post-visibility{
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #8c8c8c;
}

.post-visibility.edit-post {
    margin-right: 10px;
    cursor: pointer;
}

.btn-primary{
    background-color: #ff4828;
    border-color: #ff4828;
}

.btn-outline-primary {
    color: #ff4828;
    border-color: #ff4828;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #ff4828;
    border-color: #ff4828;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #e84528;
    border-color: #e84528;
}

.post-user{
    line-height: 36px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #8c8c8c;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-315 {
    transform: rotate(315deg);
}

.posts-title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ff4828;
    margin-bottom: 14px;
}

.posts-title i{
    color: #4d4d4d;
    margin-right: 8px;
}

.page-card .card-title{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: #383b43;
}

.page-card .card-description{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-align: left;
    color: #4d4d4d;
    line-height: 16px;
    height: 80px;
}

.page-card .card-footer{
    text-align: center;
    padding-top: 0;
    padding-bottom: 1.25rem;
}

.page-title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ff4828;
    margin: 30px 0;
}

.multiline-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}