/*Custom Fonts*/
@font-face {
    font-family: Montserrat-Black;
    src: url('/fonts/Font_Montserrat/Montserrat-Black.otf') format("opentype");
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/fonts/Font_Montserrat/Montserrat-Bold.otf') format("opentype");
}

@font-face {
    font-family: Montserrat-Light;
    src: url('/fonts/Font_Montserrat/Montserrat-Light.otf') format("opentype");
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('/fonts/Font_Montserrat/Montserrat-SemiBold.otf') format("opentype");
}

/* Globals */
a,a:focus,a:hover{color:#191b22;}
body{color:#191b22}
body {
    padding-top: 82px;
    background-color:#f5f5f5;
    line-height: 1.15;
}
.hide{display:none;}
.clickable{cursor: pointer;}
.margin-right-10 { margin-right:10px; }


/* Avatar */
.header-section{margin:50px 0 0;}
.avatar{width:100px;height:100px; border-radius: 50%;}
.mini-avatar{width:36px;height:36px;margin-right: 10px;}
.title-section{display:flex;text-align:left;}
.title-section h1{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #383b43;
}
.title-section h4{
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.4px;
  color: #4d4d4d;
}

/* Home button */
.btn-home-hello{position:absolute;font-family:'Source Code Pro',monospace;font-size:11px;font-weight:400;color:rgba(255,255,255,0.85);top:15px;left:15px;padding:3px 20px;background-color:rgba(255,255,255,0.15);border-radius:6px;-webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);-moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);box-shadow:0px 0px 20px 0px rgba(0,0,0,0.15);}


.post-container{width: 90%; text-align: left; border: 1px solid rgba(0,0,0,.125); margin-bottom: 15px}

.read-subscribe-btn{ margin: 60px 0 0 0;text-align: center; background-color: dodgerblue;color: white;height: 40px;padding: 9px;width: 200px; cursor: pointer;}
.file-card.locked{cursor:not-allowed;opacity: 0.4;}

.post-description{
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.4px;
    color: #4d4d4d;
}
.post-title{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.6px;
  color: #4d4d4d;
  margin-top: 18px;
  margin-bottom: 15px;
}

.fr-toolbar {border-top: unset !important;}

.panel-landing { text-align: center; }

.new-page {margin-bottom: 10px;}

.card, .card:hover {text-decoration: none;border-radius: 0;
    border: none;}

.card-footer{
    background-color: unset;
    border-top: none;
}

.payment-option-modal{text-align: center;}

.payment-buttons-row{margin-top: 10px;}

.nav-logo img{width:66px;}

.become-bitpatron {
    display: inline-block;
    font-size: 22px;
    font-family: Montserrat-Bold;
    line-height: 1.27;
    letter-spacing: 0.6px;
    color: #ff4828;
    text-transform: uppercase;
}
.become-bitpatron img{width:30px;}

.prices {
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.5px;
    text-align: left;
    color: #404040;
}

.subscription-btn {
    min-height: 32px;
    width: 82%;
    font-family: Montserrat-SemiBold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.6px;
    margin: 20px 0;
    margin-left: 9%;
    text-transform: uppercase;
}

.subscription-terms {
    font-family: Montserrat-Light;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: center;
    color: #4d4d4d;
}

.nav-item{
    height: 34px;
}

.nav-item.separator{
    width: 1px;
    background: white;
    margin: 5px 15px;
}

.nav-item .username{
    color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
}

.post-date{
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: #4c4c4c;
}

.post-visibility{
  font-size: 12px;
  letter-spacing: 0.3px;
  color: #8c8c8c;
}

.post-visibility.edit-post {
    margin-right: 10px;
    cursor: pointer;
}

.btn-primary{
    background-color: #ff4828;
    border-color: #ff4828;
}

.btn-outline-primary {
    color: #ff4828;
    border-color: #ff4828;
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #ff4828;
    border-color: #ff4828;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active {
    background-color: #e84528;
    border-color: #e84528;
}

.nav-pills .nav-link.active, 
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ff4828;
}

.post-user{
    line-height: 36px;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #8c8c8c;
}

.no-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.rotate-45 {
    transform: rotate(45deg);
}

.rotate-315 {
    transform: rotate(315deg);
}

.posts-title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ff4828;
    line-height: 38px;
}

.posts-title i{
    color: #4d4d4d;
    margin-right: 8px;
}

.icon-btn i{
    margin-right: 4px;
}

.page-card .card-title{
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    color: #383b43;
}

.page-card .card-description{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.4px;
    text-align: left;
    color: #4d4d4d;
    line-height: 16px;
    height: 80px;
}

.page-card .card-footer{
    text-align: center;
    padding-top: 0;
    padding-bottom: 1.25rem;
}

.page-title{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: left;
    color: #ff4828;
    margin: 30px 0;
}

.multiline-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .nav-link.active {
    color: #fc6449;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

@media(min-width:992px){
    li.nav-item.active:after {
        height: 8px;
        content: ' ';
        width: 100%;
        background: #fc6449;
        display: block;
        bottom: -16px;
        position: relative;
    }

    .nav-separator{
        width: 1px;
        height: 34px;
        background: white;
        display: block;
    }
}

.twitter-nav-item i{
    font-size: 30px;
    margin-top: -6px;
}

.fr-view.truncate {
    max-height: 400px;
    overflow: hidden;
    position: relative;
}

.fr-view.truncate:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 320px;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1) 100%);
    width: 100%;
    height: 80px;
}

.btn-large-width{
    min-width: 200px;
}

.input-page-description {
    min-height: 160px;
}

.paid-subscription-title{
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #404040;
    margin-bottom: 12px;
}

.input-group-append .input-group-text {
    min-width: 115px;
}

.uploader input {
    display: none;
  }
  
  .uploader {
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    height: 120px;
    width: 120px;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    margin: auto;
  }
  
  .uploader img,
  .uploader .icon {
    pointer-events: none;
  }
  
  .uploader,
  .uploader .icon {
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    -ms-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  
  .uploader .icon {
    font-size: 16px;
    display: block;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    width: 90px;
  }

  .uploader .icon-upload{
      color: rgba(15, 15, 15, 0.5);
  }

  .uploader .icon-upload.activeColor{
    color: #17c723;
  }
  
  .uploader img {
    left: 50%;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -o-transition: all 300ms ease-in;
    transition: all 300ms ease-in;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 4px #161616;
  }
  
  .uploader img.loaded {
    opacity: 1;
  }

  .uploader .close {
    z-index: 2;
    top: 0;
    right: 0;
    height: 10px;
    width: 10px;
    position: absolute;
    font-size: 20px;
    font-style: normal;
    line-height: 10px;
    color: rgba(15, 15, 15, 0.5);
  }

  .uploader .empty-img {
    pointer-events: none;
    opacity: 0.9;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 4px #161616;
  }

  .uploader .img-upload,
  .uploader .empty-img{
      box-shadow: 0 0 4px #161616;
  }

.uploader .img-upload.activeBox,
.uploader .empty-img.activeBox{
    box-shadow: 0 0 9px #17c723;
}

.buttons-row .btn{
    width: 120px;
}

.payout-box {
    border: 1px solid #959595;
  }

  .box-label {
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: 0.5px;
    color: #404040;
    margin-bottom: 10px;
  }

  .wallet-input {
    background-color: #e6e6e6;
    border: none;
    padding: 15px;
    width: calc(100% - 45px);
  }

  .wallet-input::placeholder {
    font-family: Montserrat-Light;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.3px;
    color: #a6a6a6;
  }

  .small-round-btn {
    background-color: #ff4828;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    cursor: pointer;
    color: #ffffff;
    text-align: center;
    padding-top: 6px;
    padding-left: 2px;
  }

  .payout-info {
    font-size: 15px;
    line-height: 2;
  }

  .wallet-status-label {
    font-family: Montserrat-SemiBold;
    font-size: 14px;
    margin-top: 10px;
  }

  .saved {
    color: darkgreen;
  }

  .saving {
      font-style: italic;
  }