
header.masthead {
    width: 100%;
    text-align: center;
    min-height: 550px;
    .top-image-div{
        background-image: url(/images/header/Banner.png);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        height: 400px;
    }

    .top-right-image {
        z-index: -1;
        position: absolute;
        right: 0;
        top: 82px;
        max-width: 100%;
    }

    .center-logo {
        width: 200px;
        height: 200px;
        margin-top: 270px;
        margin-bottom: 50px;

        @media(max-width: 960px) {
            margin-top: 25%;
            width: 30%;
            min-width: 115px;
        }

        @media(max-width: 600px) {
            margin-top: 15%;
        }
    }

    .center-text {
        width: 100%;

        .earn-bitcoins{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin-left: 50px;
            @media(max-width: 692px) {
                flex-direction: column;
                margin-left: 0px;
            }

            .img-div{
                margin-left:10px;
                margin-right: 10px;
                background-repeat: no-repeat;
                background-position: left;
                text-align: center;
                height: 70px;
                width:220px;
                @media(max-width: 692px) {
                    background-position: center; 
                }
            }
            .illustration{
                background-image: url(/images/header/Illustration.png);                
            }
            .music{
                background-image: url(/images/header/Music.png);
            }
            .photos{
                background-image: url(/images/header/Photos.png);                
            }
            .podcasts{
                background-image: url(/images/header/Podcasts.png);                
            }
            .videos{
                background-image: url(/images/header/Videos.png);
            }
            .writing{
                background-image: url(/images/header/Writing.png);
            }
        }

        h4 {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.33;
            letter-spacing: 0.5px;
            text-align: center;
            color: #fafafa;
            padding-top:100px;
        }

        span {
            font-family: Montserrat-Bold;
            font-size: 30px;
            font-weight: bold;
            line-height: 1.08;
            letter-spacing: 0.8px;
            text-align: center;
            color: #fafafa;
        }
    }

    .signup-button {
        margin: -25px auto;
        width: 300px;
        height: 48px;
        border-radius: 4px;
        color: #ffffff;
        font-family: Montserrat-SemiBold;
        font-size: 14px;
        background-color: #ff4828;
        padding-top: 15px;
        cursor: pointer;

        @media(max-width: 600px) {
            max-width: 84%;
        }

        @media(max-width: 640px) {
            letter-spacing: 0.6px;
        }

        .arrow {
            margin-left: 15px;
        }
    }

    .countdown-box {
        width: 486px;
        height: 256px;
        margin: 42px auto;
        padding-top: 30px;
        border-radius: 6px;
        background-color: #ff4828;
        font-family: Montserrat-SemiBold;
        text-align: center;
        color: #ffffff;

        @media(max-width: 640px) {
            width: 96%;
            height: 200px;
        }

        h4 {
            font-size: 22px;
        }

        .countdown {
            margin: 30px auto;

            @media(max-width: 640px) {
                margin: 10px auto;
            }

            div {
                padding-right: 0px;
                padding-left: 0px;
            }
        }

        .countdown-label {
            font-family: Montserrat-Light;
            font-size: 12px;
            line-height: 1;
        }

        .countdown-value {
            font-family: Montserrat-Bold;
            font-size: 50px;
            line-height: 1;

            @media(max-width: 640px) {
                font-size: 24px;
            }
        }

        .split {
            border-left: 1px solid #ffffff;
        }

        
    }
}
