section.steps {
    height:unset;
    .boxes {
        display: flex;
        flex-direction: row;
        place-content: center space-around;
        align-items: center;
        text-align: center;
        align-content: center;
        justify-content: space-around;
        
        @media(max-width: 959px){
            flex-direction: column;
        }

        .box {
            max-width: 270px;
            > *{
                margin-bottom:30px;
            }
            // img {
            //     height: 76px;
            // }

            .content{
                display: inline-flex;
            }


            .title span {
                color: #ff4828;
                font-family: Montserrat-Bold;
                font-size: 70px;
                font-weight: bold;
                line-height: 0.72;
            }

            .description span {
                font-size: 20px;
                font-weight: 300;
                line-height: 1.2;
                letter-spacing: 0.5px;
                text-align: center;
                color: #4d4d4d;
            }
        }
    }
}
