section.steps {
    margin-top: 70px;
    height:unset;
    h1{
        font-family: Montserrat-Black;
        font-size: 28px;
        font-weight: 800;
        line-height: 1.43;
        letter-spacing: 0.7px;
        text-align: center;
        color: #595959;
    }
    .boxes {
        display: flex;
        flex-direction: row;
        place-content: center space-around;
        align-items: start;
        text-align: center;
        align-content: center;
        justify-content: space-around;
        margin-top: 50px;
        
        @media(max-width: 959px){
            flex-direction: column;
        }

        .box {
            max-width: 270px;
            margin: 0 auto;
            img{
                max-height: 390px;
            }

            > *{
                margin-bottom:30px;
            }
            .content{
                position: relative;
                height: 90px;
            }

            .number{
                position: absolute;
                font-family: Montserrat-Bold;
                font-size: 152px;
                color: rgba(78, 78, 78, 0.1);
                top: -40px;
            }

            .title span {
                font-family: Montserrat-Bold;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.38;
                letter-spacing: 0.4px;
                text-align: center;
                color: #ff4828;
                padding: 0 35px;
                padding-bottom: 5px;
                display: block;
            }

            .description span {
                font-family: Montserrat-Light;
                font-size: 12px;
                font-weight: 300;
                line-height: 1.45;
                letter-spacing: 0.3px;
                text-align: center;
                color: #737373;
                padding: 0 35px;
                display: block;
            }
        }
    }
}
